GEMINI_API_KEY=
BLOCKCHAIN_CHAIN_ID=
BLOCKCHAIN_CONTRACT_ADDRESS=
BLOCKCHAIN_EXPLORER_URL=
BLOCKCHAIN_NETWORK=
BLOCKCHAIN_PRIVATE_KEY=
BLOCKCHAIN_RELAYER_KEY=
BLOCKCHAIN_ADMIN_ADDRESS=
BLOCKCHAIN_RELAYER_ADDRESS=
BLOCKCHAIN_RPC_URL=
LOCATION_API_KEY=
VITE_BLOCKCHAIN_RPC_URL=
VITE_CONTRACT_ADDRESS=
